.title-holder {
	text-align: center;
	vertical-align: bottom;
	padding: 10px 0px;
}
.context-menu {
	cursor: context-menu;
}
.hide {
	visibility: hidden;
}
.show {
	visibility: visible;
}

line#pointer {
	stroke: orange;
	stroke-width: 3;
	stroke-dasharray: 3 6;
}
