<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bubble.css')}}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
		<script src="https://d3js.org/d3.v4.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="#">Navbar</a>
			<input type="range" min="0" max="54" value="1" id="season-slider"/>
		</nav>
		<p></p>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-7">
					<div class="card card-body">MIX CHARTS
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
					</div>
					<div class="card card-body ">TIMELINE
						<br/>
						<br/>
						<br/>
						<br/>
					</div>
				</div>
				<div class="col-md-5">
					<div class="">
						<svg height="306" width="416">
						</svg>
					</div>
					<div class="card card-body">Medal choropleth
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
					</div>
				</div>
			</div>
		</div>
		<script src="{{ url_for('static', filename='js/index.js')}}"></script>
		<script src="{{ url_for('static', filename='js/index.js')}}"></script>
		<script src="{{ url_for('static', filename='js/constants.js')}}"></script>
		<script src="{{ url_for('static', filename='js/bubblechart.js')}}"></script>
		<script src="{{ url_for('static', filename='js/barchart.js')}}"></script>
	</body>
</html>
