<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bubble.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/medalChoropleth.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css')}}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
		<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.24.0/d3-legend.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="#">Navbar</a>
		</nav>
		<p></p>
		<div class="container-fluid">
			<div class="row">
				<div class="col-7 mh-100">
					<div class="card center-card">
						<span id="center-card" class="class-body">

						</span>
					</div>
					<div class="card timeline">
						<span id="timeline" class="card-body"></span>
					</div>
				</div>
				<div class="col-5 mh-100">
					<div class="card side-card">
						<span id="bubble-chart" class="card-body"></span>
					</div>
					<div class="side-card card">
						<span id="map" class="card-body"></span>
					</div>
				</div>
			</div>
		</div>
		<script src="{{ url_for('static', filename='js/constants.js')}}"></script>
		<script src="{{ url_for('static', filename='js/helper.js')}}"></script>
		<script src="{{ url_for('static', filename='js/index.js')}}"></script>
		<script src="{{ url_for('static', filename='js/timeline.js') }}"></script>
		<script src="{{ url_for('static', filename='js/medalChoropleth.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bubblechart.js')}}"></script>
		<script src="{{ url_for('static', filename='js/barchart.js')}}"></script>
	</body>
</html>
